{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DailY Cost</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

    <style>
        body {
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        .today {
            border-bottom: solid 2px skyblue;
        }

        h1 {
            font-weight: 700;
            line-height: 36px;
        }

        h2 {
            font-weight: 500px;
            line-height: 32px;
        }

        .total-row {
            font-size: 18px;
            font-weight: 500px;

        }

        .navbar-light {
            background-color: #251d37;
            box-shadow: 0px 6px 18px 0px #eee;
        }

        .btn-custom {
            background-color: #fff !important;
            border: solid 1px #fff;
            color: #262626;
            font-size: 18px;
            font-weight: 500;
            box-shadow: 0px 3px 8px #272728;

        }

        .btn-custom:hover {
            box-shadow: 0px 6px 18px #272728;
        }

        .navbar-toggler {
            border: none;
            background-color: #fff;
        }

        @media screen and (max-width: 378px) {

            table td,
            table tr {
                font-size: small;
            }
        }

        @media screen and (min-width: 778px) {
            table th {
                font-size: 22px;
            }

            table td {
                font-size: 18px;
                font-weight: 500;
            }
        }

        .navbar-brand {
            font-weight: 700;
            font-size: 24px;
        }

        table th {
            font-size: 24px;
        }

        table td {
            font-size: 22px;
            font-weight: 500;
        }
        
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light py-4">
        <div class="container">
            <a class="navbar-brand text-white text-uppercase" href="#">{{username}}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link btn btn-sm btn-custom py-2" href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <div class="container mt-5" id="app">
        {% block content %}

        {% endblock content %}
    </div>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    {% if debug %}
    <script src="{% static 'vue/vue.js' %}"></script>
    {% else %}

    <script src="{% static 'vue/vue.min.js' %}"></script>
    {% endif %}



    <script>
        var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
        var app = new Vue({
            el: "#app",
            delimiters: ['[[', ']]'],
            data: {
                msg: 'hello',
                today_cost_lists: [],
                today_total_cost: null,
                name_of_cost: null,
                amount_of_cost: null,
                date_of_cost: null,
                isDetails: false,
                isEdit: false,
                isDelete: false,
                date: null,
                months: [],
                isFound: false,
                seletedMonth: '',
                edit: {
                    name_of_cost: null,
                    amount_of_cost: null,
                    id: null,
                },
                delete: {
                    id: null,
                },
                current_month_name: '',
                current_month_cost_lists: [],
                monthly_total_cost: null,
                date_wise_cost_lists: [],
                date_wise_total_cost: null,
            },
            mounted: function () {
                this.showTodayCostList();
                this.getCurrentMonthCostLists();

            },

            methods: {
                showTodayCostList: function () {
                    var that = this;
                    $.ajax({
                        method: 'GET',
                        url: 'api/today-cost-list/',
                    }).then(response => {
                        console.log(response);
                        that.today_cost_lists = response.today_cost_list;
                        that.today_total_cost = response.today_total_cost;
                    }).catch(error => {
                        console.log(error)
                    })
                },
                onSubmit: function () {

                    let formData = {};
                    formData.name_of_cost = this.name_of_cost;
                    formData.amount_of_cost = this.amount_of_cost;
                    console.log(formData);

                    const csrftoken = this.getCookie('csrftoken');
                    $.ajax({
                        method: 'POST',
                        url: 'api/today-cost-list/',
                        data: JSON.stringify(formData),
                        headers: { "X-CSRFToken": csrftoken },
                        contentType: "application/json",
                    }).then(response => {
                        this.showTodayCostList();
                        $('.btn-close').click();
                        this.name_of_cost = " ";
                        this.amount_of_cost = " ";
                    }).catch(error => {
                        console.log(error);
                    })
                },
                getCookie: function (name) {
                    let cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        const cookies = document.cookie.split(';');
                        for (let i = 0; i < cookies.length; i++) {
                            const cookie = cookies[i].trim();
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                },
                showEditModal: function (id) {
                    this.id = id;
                    $.ajax({
                        method: 'GET',
                        url: 'api/today-cost-list/' + id + '/',
                    }).then(response => {
                        console.log(response);
                        this.edit.name_of_cost = response.name_of_cost;
                        this.edit.amount_of_cost = response.amount_of_cost;
                    }).catch(error => {
                        console.log(error);
                    })
                },
                onEditCost: function () {
                    let formData = {};
                    formData.name_of_cost = this.edit.name_of_cost;
                    formData.amount_of_cost = this.edit.amount_of_cost;

                    const csrftoken = this.getCookie('csrftoken');
                    $.ajax({
                        method: 'PUT',
                        url: 'api/today-cost-list/' + this.id + '/',
                        data: JSON.stringify(formData),
                        headers: { "X-CSRFToken": csrftoken },
                        contentType: "application/json",
                    }).then(response => {
                        this.showTodayCostList();
                        $('.btn-close').click();
                        this.edit.name_of_cost = " ";
                        this.edit.amount_of_cost = " ";
                    }).catch(error => {
                        console.log(error);
                    })
                },
                showDeleteModal: function (id) {
                    this.delete.id = id;
                },
                onDelete: function () {
                    const csrftoken = this.getCookie('csrftoken');
                    $.ajax({
                        method: 'DELETE',
                        headers: { "X-CSRFToken": csrftoken },
                        url: 'api/today-cost-list/' + this.delete.id + '/',
                    }).then(response => {
                        this.showTodayCostList();
                        $('.btn-close').click();
                    }).catch(error => {
                        console.log(error);
                    })
                },
                getCurrentMonthCostLists: function () {
                    var that = this;
                    $.ajax({
                        method: 'GET',
                        url: 'api/current-month-cost-list/',
                    }).then(response => {
                        console.log(response);
                        if (response.cmc_lists.length == 0) {
                            this.isFound = false;
                        }
                        else {
                            this.isFound = true;
                            this.current_month_cost_lists = response.cmc_lists;
                            this.monthly_total_cost = response.monthly_total_cost;
                            var current_month_index = response.current_month;
                            this.find_month_name(current_month_index);
                        }

                    }).catch(error => {
                        console.log(error)
                    })
                },
                showDetails: function (date_param) {

                    var that = this;
                    that.date = date_param;

                    $.ajax({
                        method: 'GET',
                        url: 'api/show-details/' + date_param + '/',
                    }).then(response => {
                        console.log(response);
                        this.isDetails = true;
                        this.isDelete = false;

                        this.date_wise_cost_lists = response.date_wise_cost_lists;
                        this.date_wise_total_cost = response.date_wise_total_cost;

                    }).catch(error => {
                        console.log(error)
                    })
                },
                oneditDayWiseCost: function (id) {
                    this.isDetails = false;
                    this.isEdit = true;
                    this.isDelete = false;

                    console.log(id);

                    this.id = id;
                    $.ajax({
                        method: 'GET',
                        url: 'api/update-date-wise-cost/' + id + '/',
                    }).then(response => {
                        this.edit.name_of_cost = response.name_of_cost;
                        this.edit.amount_of_cost = response.amount_of_cost;

                    }).catch(error => {
                        console.log(error);
                    })
                },
                updateDateWiseCost: function () {
                    let formData = {};
                    formData.name_of_cost = this.edit.name_of_cost;
                    formData.amount_of_cost = this.edit.amount_of_cost;

                    const csrftoken = this.getCookie('csrftoken');
                    $.ajax({
                        method: 'PUT',
                        url: 'api/update-date-wise-cost/' + this.id + '/',
                        data: JSON.stringify(formData),
                        headers: { "X-CSRFToken": csrftoken },
                        contentType: "application/json",
                    }).then(response => {
                        console.log(response);
                        this.isEdit = false;
                        this.showDetails(response.date_of_cost);
                        this.edit.name_of_cost = " ";
                        this.edit.amount_of_cost = " ";

                    }).catch(error => {
                        console.log(error);
                    })
                },
                ondeleteDateWiseCost: function (id) {
                    this.isDetails = false;
                    this.isEdit = false;
                    this.isDelete = true;
                    this.delete.id = id;
                    const csrftoken = this.getCookie('csrftoken');
                    $.ajax({
                        method: 'DELETE',
                        headers: { "X-CSRFToken": csrftoken },
                        url: 'api/update-date-wise-cost/' + this.delete.id + '/',
                    }).then(response => {
                        $('.btn-close').click();
                        this.showTodayCostList();
                        this.getCurrentMonthCostLists();

                    }).catch(error => {
                        console.log(error);

                    })


                },
                confirmDelete: function () {

                },
                closeModal: function () {
                    this.isDetails = false;
                    this.isEdit = false;
                    this.isDelete = false;

                    this.getCurrentMonthCostLists();
                },
                find_month_name: function (month_index) {

                    var month_names = {
                        '1': 'January', '2': 'February', '3': 'March', '4': 'April',
                        '5': 'May', '6': 'June', '7': 'July', '8': 'August',
                        '9': 'September', '10': 'October', '11': 'November', '12': 'December',

                    }

                    this.current_month_name = month_names[month_index];

                    this.months = Object.values(month_names);
                },
                changeMonth: function (event) {
                    console.log(event.target.value);
                    var month_index = this.findMonthIndex(event.target.value)
                    console.log(month_index);

                    $.ajax({
                        method: 'GET',
                        url: 'api/monthly-cost-list/' + month_index + '/',
                    }).then(response => {
                        console.log(response);
                        if (response.cmc_lists.length == 0) {
                            this.isFound = false;
                        }
                        else {
                            this.isFound = true;
                            this.current_month_cost_lists = response.cmc_lists;
                            this.monthly_total_cost = response.monthly_total_cost;
                            var current_month_index = response.current_month;
                            this.find_month_name(current_month_index);
                        }

                    }).catch(error => {
                        console.log(error)
                    })


                },
                findMonthIndex: function (month_name) {
                    var month_names = {
                        '1': 'January', '2': 'February', '3': 'March', '4': 'April',
                        '5': 'May', '6': 'June', '7': 'July', '8': 'August',
                        '9': 'September', '10': 'October', '11': 'November', '12': 'December',
                    }
                    for (var month_index in month_names) {
                        if (month_names[month_index] == month_name) {
                            return month_index;
                        }

                    }
                },


            },

        })
    </script>

</body>

</html>